{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles.scss",
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "bracketSameLine": true,
  "endOfLine": "lf"
}
