<div class="mx-auto justify-items-center border-b border-gray-200 dark:border-gray-700">
  <div class="-mb-px flex flex-wrap text-center text-sm font-medium text-gray-500 dark:text-gray-400">
    @for (tab of tabs; track tab; let i = $index) {
      <button
        [id]="tab.id"
        role="tab"
        [attr.aria-selected]="tab.active"
        (click)="selectTab(i)"
        [ngClass]="tab.active ? options.activeClasses : options.inactiveClasses"
        class="me-2">
        <a
          class="group flex flex-col items-center justify-center space-x-2 rounded-t-lg border-b-2 border-transparent p-4 hover:border-gray-300 hover:text-gray-600 dark:hover:text-gray-300">
          <mat-icon class="material-symbols-outlined text-sm">
            {{ tab.icon }}
          </mat-icon>
          {{ tab.label }}
          <!-- <p class="-mb-2 text-center">{{tab.label}}</p> -->
        </a>
      </button>
    }
  </div>

  <div class="tabs-body">
    @for (tab of tabs; track tab; let i = $index) {
      <div>
        <div
          [id]="tab.id + '-content'"
          role="tabpanel"
          [hidden]="!tab.active"
          class="tab-content"
          [innerHTML]="tab.content"></div>
      </div>
    }
  </div>
</div>
