<section class="relative before:absolute before:inset-0 before:-z-20 before:bg-gray-900">
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <!-- Section header -->
      <div class="mx-auto max-w-3xl pb-16 text-center md:pb-20">
        <h2 class="text-3xl font-bold text-gray-200 md:text-4xl">
          Simple helps your teams work more efficiently together
        </h2>
      </div>

      <!-- Planet -->
      <div class="pb-16 md:pb-20" data-aos="zoom-y-out">
        <div class="text-center">
          <div
            class="relative inline-flex rounded-full before:absolute before:inset-0 before:-z-10 before:scale-[.85] before:animate-[pulse_4s_cubic-bezier(.4,0,.6,1)_infinite] before:bg-gradient-to-b before:from-blue-900 before:to-sky-700/50 before:blur-3xl after:absolute after:inset-0 after:rounded-[inherit] after:[background:radial-gradient(closest-side,theme(colors.blue.500),transparent)]">
            <img class="rounded-full bg-gray-900" [src]="planetImg" width="400" height="400" alt="Planet" />
            <div class="pointer-events-none" aria-hidden="true">
              <img
                class="absolute -right-64 -top-20 z-10 max-w-none"
                [src]="planetOverlayImg"
                width="789"
                height="755"
                alt="Planet decoration" />
              <div>
                <img
                  class="absolute -left-28 top-16 z-10 animate-[float_4s_ease-in-out_infinite_both] opacity-80 transition-opacity duration-500"
                  [src]="planetTagImg01"
                  width="253"
                  height="56"
                  alt="Tag 01" />
                <img
                  class="absolute left-56 top-7 z-10 animate-[float_4s_ease-in-out_infinite_1s_both] opacity-30 transition-opacity duration-500"
                  [src]="planetTagImg02"
                  width="241"
                  height="56"
                  alt="Tag 02" />
                <img
                  class="absolute -left-20 bottom-24 z-10 animate-[float_4s_ease-in-out_infinite_2s_both] opacity-25 transition-opacity duration-500"
                  [src]="planetTagImg03"
                  width="243"
                  height="56"
                  alt="Tag 03" />
                <img
                  class="absolute bottom-32 left-64 z-10 animate-[float_4s_ease-in-out_infinite_3s_both] opacity-80 transition-opacity duration-500"
                  [src]="planetTagImg04"
                  width="251"
                  height="56"
                  alt="Tag 04" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Grid -->
      <div
        class="grid overflow-hidden sm:grid-cols-2 lg:grid-cols-3 [&>*]:relative [&>*]:p-6 [&>*]:before:absolute [&>*]:before:bg-gray-800 [&>*]:before:[block-size:100vh] [&>*]:before:[inline-size:1px] [&>*]:before:[inset-block-start:0] [&>*]:before:[inset-inline-start:-1px] [&>*]:after:absolute [&>*]:after:bg-gray-800 [&>*]:after:[block-size:1px] [&>*]:after:[inline-size:100vw] [&>*]:after:[inset-block-start:-1px] [&>*]:after:[inset-inline-start:0] md:[&>*]:p-10">
        @for (feature of features; track $index) {
          <div>
            <article>
              <h3 class="mb-2 flex items-center space-x-2 font-medium text-gray-200">
                <mat-icon class="text-blue-500" width="16" height="16">{{ feature.matIcon }}</mat-icon>
                <span>{{ feature.title }}</span>
              </h3>
              <p class="text-[15px] text-gray-400">
                {{ feature.description }}
              </p>
            </article>
          </div>
        }
      </div>
    </div>
  </div>
</section>
